@font-face {
    font-family: "adlam-display-regular";
    font-style: normal;
    font-weight: 400;
    src: url("https://fonts.googleapis.com/css2?family=ADLaM+Display&display=swap") format("woff");
}